* {
  margin: 0px
}

header,footer {
  text-align: center;
  background-color: rgba(2, 2, 41, 0.855);
  color: white;
  padding: 8px;
  height: 55px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 12px;
  place-items: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card {
  width: 385px;
  height: 435px;
  overflow: hidden;
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: rgb(240, 240, 233);
}


.card button {
  margin-left: 300px;
  margin-top: 100px;
  color: white;
  border-radius: 5px;
  background-color: #444;
  padding: 4px;
}

del {
  color: red;
}

#wishlist {
  text-align: center;
}

.btn_remove{
  background-color: #444;
  color: white;
  border-radius: 6px;
}